body {
    background-image: url('pics/bodyBG.png');
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-image: url('pics/wrapperBackground.png');
    box-shadow: 5px 5px 5px black;
}

#header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
}

#header img {
    width: 100%;
    height: 150px;
    padding-top: 10px;
}

#nav {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #333333;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
}

#nav li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    width: auto;
    height: 50px;
    text-align: center;
    font-size: 20px;

}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    background-color: lightgreen;
}

#content {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
}

h1 {
    color: #31ac20;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
} 

h3 {
    color: #0e6dc5;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
}

h4 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: justify;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    margin: 1.25em 0;
    text-align: justify;
}

#main_content_img {
    float: right;
    width: 25%;
    height: 25%;
    padding: 10px;
}

#contact_form {
    text-align: left;
    position: relative;
    padding-top: 10px;
    width: 500px;
}

#purchase_table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}

#purchase_table td,tr, th {
    text-align: center;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    text-align: center;
}

